.card {
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  cursor: pointer;
  color: #172b4d;
  font-size: 16px;
  font-weight: 500;
}

.close {
  cursor: pointer;
  visibility: hidden;
}

.card-body:hover .close {
  visibility: visible;
}

.modal-dialog {
  right: 150px;
}
